<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//com.zhou.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置读取properties文件-->
    <properties resource="mysql.properties"/>

    <!--设置类型别名-->
    <typeAliases>
        <!--不设置alias则默认别名为类名且不区分大小写-->
        <typeAlias type="com.zhou.mybatis.pojo.User" alias="User"></typeAlias>
        <!--为包下所有的类起别名，默认别名为类名且不区分大小写-->
        <package name="com.zhou.mybatis.pojo"/>
    </typeAliases>

    <!--environments配置多个连接数据库的环境
            属性：default：设置默认使用的环境的id
    -->
    <environments default="development">
        <!--environment：配置某个具体的环境
                属性：
                    id：表示连接数据库的环境的唯一标识，不能重复
        -->
        <!--配置连接数据库的环境-->
        <environment id="development">
            <!--transactionManager：设置事务管理方式
                    属性：
                        type="JDBC/MANAGED"
                            JDBC:
                                表示当前环境中执行sql时，
                                使用的是JDBC中原生的事务管理方式，
                                事务的提交和回滚需要手动处理
                            MANAGED:被管理，例如Spring
            -->
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--dataSource:设置数据源
                属性：
                    type:设置数据源的类型
                        type="POOLED/UNPOOLED/JNDI"
                            POOLED:使用数据库连接池缓存数据库连接
                            UNPOOLED:不使用数据库连接池缓存数据库连接
                            JNDI:使用上下文的数据源
            -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!---->
    <!--引入映射文件-->
    <mappers>
        <!--在resource资源目录中以支持方式引入映射文件-->
        <!--<mapper resource="mappers/ParameterMapper.xml"/>-->

        <!--在resource资源目录中以包的形式引入映射文件，路径需要与对应的接口的包路径一致-->
        <package name="com.zhou.mybatis.mappers"/>
    </mappers>
</configuration>
